* {
    padding: 0;
    margin: 0;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
  }
  
  .menu ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
  }
  
  .menu li a {
    padding: 10px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: blueviolet;
    border-radius: 15px;
    color: #fff;
  }
  
  .container-head {
    background-color: lightgrey;
    height: 250px;
  }
  
  .container-head h1 {
    text-align: center;
    padding-top: 150px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  input, .head-btn{
    width: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
    
  }
  .head-btn{
  background-color: gray;
  }
  .btn-head {
      text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .container-body {
    justify-content: left;
    align-items: start;
    margin-left: 15px;
  }
  
  .container-browse {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
  }
  
  .container-category {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
    box-sizing: content-box;
  }
  .category-pics {
    border: solid 1px;
    border-radius: 10px;
    margin: 15px;
  }
  h4 {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  p {
    font-size: 12px;
    font-weight: 200;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
    margin-left: 20px;
  }
  
  .container-cent {
    display: flex;
    background-color: lightgrey;
    padding: 20px 40px;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20%;
  }
  
  .cent {
    padding: 15px;
    justify-content: center;
    margin: 20px;
  }
  
  .cent h1 {
    font-size: 3em;
  }
  
  .cent p {
    font-size: 20px;
    text-align: left;
    justify-content: center;
  }
  
  .call {
    margin: 20px;
    border: solid 1px;
    padding: 10px 60px;
    background-color: gray;
    font-weight: 300px;
  }
  
  .container-vid {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 20px;
    justify-content:space-evenly;
  }
  
  .container-video {
    border-radius: 5px ;
    height: 200px;
    width: 50%;
    align-items: center;
  }
  
  .video-wrap p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .video-wrap{
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  width: 20%;
  }
  
  .container-review{
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
  
  }
  
  .container-review p{
    padding: 10px 0;
    justify-content: center;
  }
  
  .container-media{
    display: flex;
    justify-content: center;
    margin: 10px 20px;
    box-sizing: content-box;
  }
  
  .container-submedia{
    background-color: lightgrey;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    width: 25%;
    height: 250px;
  
  }
  
  .container-submedia p{
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }
  
  .container-submedia button{
    padding: 5px;
    border: none;
    background-color: lightgrey;
    font-style: italic;
    font-weight: 600;
    float: right;
  
  }